.previewImage {
  height: 360px;
  width: 255px;
  object-fit : contain;

  align-self: center;
  border: 1px solid #555;
}

.header {
  align-self: center;
  font-weight: bold;
}

.date {
  align-self: center;
}

.name {
  align-self: center;
}

mat-grid-list {
  background-color: #e8eaf6;
  margin: 0;
  padding: 0;
}

mat-grid-tile {
  background-color: #e8eaf6;
  margin: 0;
  padding: 0;
  justify-content:center;
}
