.flex-spacer {
  flex: 1 1 auto;
}


.search-input {
  margin: 1%;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: -40px;
  width: 70%;
  height: 70%;
  background-color: white;
  color: #000066;
}
.tagbar {
  max-height: fit-content;
  height: fit-content;
  margin: 10px;
}
